<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords"
    content="azim, azimjon, Azim, Azimjon, Azimjon Abdurasulov, Azim Abdurasulov, A.Abdurasulov, A.A dasturchi, Azimdev, Azimjondev, azimjondev" />
  <meta name="description" content="This is my portfolio website" />
  <meta name="subject" content="AZIMJONDEV PORTFOLIO" />
  <meta name="copyright" content="AZIMJON" />
  <meta name="language" content="EN" />
  <meta name="revised" content="Sunday, July 18th, 2022, 5:15 pm" />
  <meta name="abstract" content="Appreciate the opportunities offered" />
  <meta name="topic" content="Appreciate the opportunities offered" />
  <meta name="summary" content="We look forward to working with you" />
  <meta name="Classification" content="Business" />
  <meta name="author" content="azimxxm@gmail.com" />
  <meta name="designer" content="Azimjon" />
  <meta name="reply-to" content="azimxxm@gmail.com" />
  <meta name="owner" content="Azimjon, Abdurasulov" />
  <meta name="url" content="https://azimjondev.uz/" />
  <meta name="identifier-URL" content="https://azimjondev.uz" />
  <meta name="syndication-source" content="https://azimjondev.uz" />
  <meta name="original-source" content="https://azimjondev.uz" />
  <meta name="directory" content="submission" />
  <meta name="pagename" content="The world of information about Programing" />
  <meta name="category" content="Blog" />
  <meta name="coverage" content="Worldwide" />
  <meta name="distribution" content="Global" />
  <meta name="rating" content="General" />
  <meta name="revisit-after" content="7 days" />
  <meta name="subtitle"
    content="I am a simple and enthusiastic programmer. I am very interested in new technologies. I can't imagine a future without technology. IT world is my world" />
  <meta name="target" content="all" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="date" content="aprel. 07, 2022" />
  <meta name="search_date" content="2022-04-07" />
  <meta name="DC.title" content="Unstoppable Robot Ninja" />
  <meta name="ResourceLoaderDynamicStyles" content="Funny programmer" />
  <meta name="medium" content="blog" />
  <meta name="pageKey" content="guest-home" />
  <meta itemprop="name" content="jQTouch" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta http-equiv="x-dns-prefetch-control" content="off" />
  <title>Azimjon Portfolio website {% block title %} {% endblock %}</title>

  <link rel="shortcut icon" href="{% static 'images/favicon-32x32.png' %}" type="image/png" />
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="{% static 'css/swiper_bundle.css' %}" />

  <!-- Boxicons -->
  <link href="{% static 'css/boxicons.css' %}" rel="stylesheet" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
  
    

{% block content %}

{% endblock %}

  <!-- Footer start -->
  {% include 'app/footer.html' %}
  <!-- Footer end -->

  <!-- Go To Top -->
  <div class="scroll-top d-flex">
    <i class="bx bx-up-arrow-alt"></i>
  </div>

  <!-- Swiper JS -->
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <!-- Scroll Reveal JS -->
  <script src="{% static 'js/scrollreveal.js' %}"></script>
  <!-- Script -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>