{% load static %}
<section class="section languages" id="languages">
    <h2 class="title">Programming is just fun and awesome</h2>
    <div class="row container">
      <div class="image">
        <div class="circle circle-1"></div>
        <img src="{% static 'images/iPhone_X.png' %}" alt="images" />
        <div class="circle circle-2">
          <div class="language language-1">
            <div>
              <h4>Coding</h4>
              <p>
                A great motivation for those who say that coding is not for me.
              </p>
            </div>
            <div class="icon">{ }</div>
          </div>
          <div class="language language-2">
            <div class="icon"><img src="{% static 'images/python-logo.svg' %}" alt="python logo" style="height:30px;"></div>
            <div>
              <h4>Python</h4>
              <p>
                Python is a high-level, general-purpose dynamic programming language with automatic memory management that improves developer productivity.
              </p>
            </div>
          </div>
          <div class="language language-3">
            <div class="icon"><img src="{% static 'images/django-icon-0.svg' %}" alt="python logo" style="height:30px;"></div>
            <div>
              <h4>Django</h4>
              <p>
                Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. 
              </p>
            </div>
          </div>
          <div class="language language-4">
            <div>
              <h4>CSS</h4>
              <p>
                Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document written in HTML or XML (including XML dialects such as SVG, MathML or XHTML).
              </p>
            </div>
            <div class="icon">CSS</div>
          </div>
          <div class="language language-5">
            <div class="icon"><img src="{% static 'images/Postgresql_elephant.svg' %}" alt="python logo" style="height:30px;"></div>
            <div>
              <h4>PostgreSQL</h4>
              <p>
                PostgreSQL is a free object-relational database management system.
              </p>
            </div>
          </div>
          <div class="language language-6">
            <div>
              <h4>HTML</h4>
              <p>
                HTML (HyperText Markup Language) is the most basic building block of the Web. It defines the meaning and structure of web content. 
              </p>
            </div>
            <div class="icon">HTML</div>
          </div>
        </div>
      </div>
    </div>
  </section>